:root{
--color-1: #210b1b;
--color-2: #4d222c;
--color-3: #9d654c;
--color-4: #cfab51;
/* --color-5: #5e2bff; */

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
  background-color: var(--color-1);
  padding: 0;
  margin: 0;
}
