#footer {
    color: white;
    background-color: var(--rich-black);
    position: absolute;
    width: 100%;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

#footer a:visited {
    color: pink;
}