.buttons-circle {
    display: inline-block;
    height: 2em;
    width: 8em;
    background-color: var(--rich-black);
    color: white;
    font-size: large;
    text-align: center;
    transition: 0.4s;
    font-size: 32px;

    align-content: center;
    padding: 0 8px;
    text-decoration: none;

    border-radius: 64px;
    border-style: solid;
}

.buttons-circle:hover {
    cursor: pointer;
    background-color: var(--sunglow);
    color: var(--rich-black);
    border-color: var(--rich-black);
}

.circle-menu {
    background-color: var(--sunglow);
    border-radius: 50%;
    display: flex;
    align-self: center;
    border-color: white;
    border-width: 1em;
    border-style: double;
    flex-direction: column;
    justify-content: inherit;

    animation-name: float;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    align-items: center;
    transition: all 1.25s;
}

.circle-menu.hide {
    display: none;
}

.poly-shapes {
    width: 800px;
    height: 800px;
    background-color: var(--sunglow);
    clip-path: polygon(
        50% 0%,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0% 50%,
        40% 40%
    );
    animation: 30s infinite alternate ease-in-out;
}

.circle-background {
    border-radius: 50%;
    border-color: var(--sunglow);
    border-style: dashed;
    position: absolute;
    border-width: 8px;
}

.big-circle-bg {
    width: 80%;
    height: 90%;
}

.rotate {
    animation-name: rotateInverse;
}

.rotate-inverse {
    animation-name: rotate;
}

.small-circle-bg {
    width: 70vh;
    height: 70vh;
}

.medium-circle-bg {
    width: 85vh;
    height: 85vh;
}

.bg-rotate {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.bg-rotate div:nth-child(n + 2) {
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-author {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--rich-black);
    font-weight: 900;
    -webkit-text-stroke: 2px var(--sunglow);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    animation-name: float;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    top: 2rem;
}

@media (max-width: 1479px) {
    .title-author span:first-child {
        font-size: 8rem;
        -webkit-transform: scale(2, 1); /* Safari and Chrome */
        -moz-transform: scale(2, 1); /* Firefox */
        -ms-transform: scale(2, 1); /* IE 9 */
        -o-transform: scale(2, 1); /* Opera */
        transform: scale(2, 1); /* W3C */
    }

    .title-author span:last-child {
        font-size: 2rem;
    }
}

@media (min-width: 1480px) {
    .title-author span:first-child {
        font-size: 10rem;
        -webkit-transform: scale(2, 1); /* Safari and Chrome */
        -moz-transform: scale(2, 1); /* Firefox */
        -ms-transform: scale(2, 1); /* IE 9 */
        -o-transform: scale(2, 1); /* Opera */
        transform: scale(2, 1); /* W3C */
    }

    .title-author span:last-child {
        font-size: 3rem;
    }
}

@media (min-width: 993px) {
    .circle-menu {
        height: 32em;
        width: 32em;
        justify-content: space-evenly;
    }
}

@media (max-width: 994px) {
    .circle-menu {
        width: 20em;
        height: 20em;
    }

    .circle-menu:nth-child(n) {
        margin: 0;
    }
}

@media (max-height: 640px) {
    .title-author {
        display: none;
    }
}

/*Animations*/
@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateInverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slide {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
}

@keyframes poly {
    from {
        clip-path: polygon(
            50% 0%,
            60% 40%,
            100% 50%,
            60% 60%,
            50% 100%,
            40% 60%,
            0% 50%,
            40% 40%
        );
    }

    to {
        clip-path: polygon(
            50% 30%,
            100% 0%,
            70% 50%,
            100% 100%,
            50% 70%,
            0% 100%,
            30% 50%,
            0% 0%
        );
    }
}
